body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

svg {
    cursor: pointer;
}

text {
    fill: transparent;
    stroke-width: 0.5;
    font: bold 6rem Helvetica;
    opacity: 0;
    transition: opacity 0.3s;
}
